<h2>Buscar Países</h2>
<hr>
<div class="row">
  <div class="col">
    <app-input-box
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar una capital..."
    ></app-input-box>
  </div>
</div>
<ul class="list-group" *ngIf="mostrarSugerencia" >
  <li
  *ngFor="let pais of paisesSugeridos"
  class="list-group-item list-group-item-action"
    > <a [routerLink]="['/pais', pais.alpha2Code]" class="nav-link">
      {{ pais.capital }}
    </a>
  </li>
  <li
  class="list-group-item list-group-item-action"
  (click)="buscarSugerido(termino)"
    > <a class="nav-link">
      Buscar "{{termino}}"
    </a>
  </li>
</ul>
<hr>
<div
  *ngIf="errorHttp"
  class="alert alert-danger"
  >No se encontró nada con ese término
</div>
<div *ngIf="!errorHttp" class="row">
  <div class="col">
    <app-body-table
      [paises]="paises"
    ></app-body-table>
  </div>
</div>

