<h2>Buscar: <small>{{regionActiva}}</small> </h2>
<hr>
<h5>Selecciona una región:</h5>
<div class="row">
  <div class="col">
    <button
      *ngFor="let region of regiones"
      [class]="getClassCss(region[1])"
      (click)="activarRegion(region[1])"
      (click)="buscar(region[0])"
        >{{region[0] | uppercase}}
    </button>
  </div>
</div>
<div
  *ngIf="errorHttp"
  class="alert alert-danger"
  >No se encontró nada con ese término
</div>
<div *ngIf="!errorHttp" class="row">
  <div class="col">
    <app-body-table
      [paises]="paises"
    ></app-body-table>
  </div>
</div>


