<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
  <div class="text-center p-1 column" style="background-color: rgba(0, 96, 242, 0.9);">
    <div class="col text-light">
      Creado por: <a class="text-reset text-light" href="https://github.com/Yua418" target="_blank">Yuale Langomas</a>
    </div>
    <div class="col text-light">
      Esto es parte del curso <a class="text-reset text-light" href="https://www.udemy.com/course/angular-fernando-herrera/" target="_blank">Angular de cero a experto</a> de Fernando Herrera
    </div>
  </div>
</footer>
